.main-div {
  margin-top: -35px;
}
mat-selection-list {
  height: 40vh;
  overflow-y: scroll;
  outline: none;
}
::ng-deep.mat-pseudo-checkbox {
  display: none !important;
}
.list {
  margin-top: -20px;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}
