<div class="main-content">
    <div>
        <button class="btn btn-danger" [routerLink] = "['/deliveryPersons/addDeliveryPerson']">Add Delivery Person</button>
    </div>
    <div>
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-danger">
                    <h4 class="card-title mt-0">Delivery Persons</h4>
                </div>
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search for Delivery Persons" [(ngModel)]="searchText">
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                                <th>
                                    Vehicle Number
                                </th>
                                <th>
                                    First Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Contact Number
                                </th>
                                <th>
                                    Registered Date
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let deliveryPerson of deliveryPersons.data | filter:searchText">
                                    <td>
                                        {{deliveryPerson.vehicleNumber}}
                                    </td>
                                    <td>
                                        {{deliveryPerson.firstName}}
                                    </td>
                                    <td>
                                        {{deliveryPerson.lastName}}
                                    </td>
                                    <td>
                                        {{deliveryPerson.phone}}
                                    </td>
                                    <td>
                                        {{deliveryPerson.registered_at}}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success px-3"><i class="material-icons">local_shipping</i></button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger px-3" (click)="onClickDelete(deliveryPerson)"><i class="material-icons">delete</i></button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger px-3" [routerLink] = "['/updateDeliveryPerson',deliveryPerson._id]"><i class="material-icons">update</i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>