<div class="main-content">
    <div class="addDeliveryPerson-form">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Add Delivery Person</h4>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="addDeliveryPersonForm" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Fist Name" formControlName="firstName" required>
                                      </mat-form-field>
                                      <mat-error *ngIf="addDeliveryPersonForm.controls.firstName.hasError('required') && (addDeliveryPersonForm.controls.firstName.dirty || addDeliveryPersonForm.controls.firstName.touched)">
                                            First name is required
                                      </mat-error>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Last Name" formControlName="lastName" required>
                                        </mat-form-field>
                                        <mat-error *ngIf="addDeliveryPersonForm.controls.lastName.hasError('required') && (addDeliveryPersonForm.controls.lastName.dirty || addDeliveryPersonForm.controls.lastName.touched)">
                                              Last name is required
                                        </mat-error>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Contact Number" formControlName="contactNumber" required>
                                      </mat-form-field>
                                      <mat-error *ngIf="addDeliveryPersonForm.controls.contactNumber.hasError('required') && (addDeliveryPersonForm.controls.contactNumber.dirty || addDeliveryPersonForm.controls.contactNumber.touched)">
                                            Contact number is required
                                      </mat-error>
                                      <mat-error *ngIf="addDeliveryPersonForm.controls.contactNumber.hasError('pattern') && (addDeliveryPersonForm.controls.contactNumber.dirty || addDeliveryPersonForm.controls.contactNumber.touched)">
                                            Contact number is invalid. Should contain 10 digts without any special characters.
                                      </mat-error>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Email" formControlName="email" required>
                                    </mat-form-field>
                                    <mat-error *ngIf="addDeliveryPersonForm.controls.email.hasError('required') && (addDeliveryPersonForm.controls.email.dirty || addDeliveryPersonForm.controls.email.touched)">
                                        Email is required
                                    </mat-error>
                                    <mat-error *ngIf="addDeliveryPersonForm.controls.email.hasError('email') && (addDeliveryPersonForm.controls.email.dirty || addDeliveryPersonForm.controls.email.touched)">
                                        Invalid email address
                                  </mat-error>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Address" formControlName="address" required>
                                  </mat-form-field>
                                  <mat-error *ngIf="addDeliveryPersonForm.controls.address.hasError('required') && (addDeliveryPersonForm.controls.address.dirty || addDeliveryPersonForm.controls.address.touched)">
                                      Address is required
                                  </mat-error>
                                </div>
                              </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Vehicle Number" formControlName="vehicleNumber" required>
                                    </mat-form-field>
                                    <mat-error *ngIf="addDeliveryPersonForm.controls.vehicleNumber.hasError('required') && (addDeliveryPersonForm.controls.vehicleNumber.dirty || addDeliveryPersonForm.controls.vehicleNumber.touched)">
                                          Vehicle number is required
                                    </mat-error>
                                    <mat-error *ngIf="addDeliveryPersonForm.controls.vehicleNumber.hasError('pattern') && (addDeliveryPersonForm.controls.vehicleNumber.dirty || addDeliveryPersonForm.controls.vehicleNumber.touched)">
                                          Vehicle number is of invalid type
                                    </mat-error>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Username" formControlName="username" required>
                                      </mat-form-field>
                                      <mat-error *ngIf="addDeliveryPersonForm.controls.username.hasError('required') && (addDeliveryPersonForm.controls.username.dirty || addDeliveryPersonForm.controls.username.touched)">
                                          Username is required
                                      </mat-error>
                                    </div>
                                </div>
                                <div class="row">    
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <input matInput [type]="'password'" placeholder="Password" formControlName="password" required>
                                      </mat-form-field>
                                      <mat-error *ngIf="addDeliveryPersonForm.controls.password.hasError('required') && (addDeliveryPersonForm.controls.password.dirty || addDeliveryPersonForm.controls.password.touched)">
                                          Password is required
                                      </mat-error>
                                      <mat-error *ngIf="addDeliveryPersonForm.controls.password.hasError('minlength') && (addDeliveryPersonForm.controls.password.dirty || addDeliveryPersonForm.controls.password.touched)">
                                          There should be atleast 8 characters
                                      </mat-error>
                                    </div>
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <input matInput [type]="'password'" placeholder="Re-type password" formControlName="confirmPassword" required>
                                      </mat-form-field>
                                      <mat-error *ngIf="addDeliveryPersonForm.controls.confirmPassword.hasError('required') && (addDeliveryPersonForm.controls.confirmPassword.dirty || addDeliveryPersonForm.controls.confirmPassword.touched)">
                                          This is required
                                      </mat-error>
                                      <mat-error *ngIf="(addDeliveryPersonForm.controls.confirmPassword.value != addDeliveryPersonForm.controls.password.value) && (addDeliveryPersonForm.controls.confirmPassword.dirty || addDeliveryPersonForm.controls.confirmPassword.touched)">
                                          Password does not match
                                          <!-- Maybe will have to create a custom validator for this because of the problem in the submit button visibility -->
                                      </mat-error>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-danger btn-raised" [disabled]="addDeliveryPersonForm.invalid">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>