<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0">Registered Clients</h4>
                        <p class="card-category">Verified</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-primary">
                                    <th>
                                        NIC
                                    </th>
                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Contact Number
                                    </th>
                                    <th>
                                        Relations
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let verifiedClient of VerifiedClient">
                                        <td>
                                            {{verifiedClient.nic}}
                                        </td>
                                        <td>
                                            {{verifiedClient.first_name}}
                                        </td>
                                        <td>
                                            {{verifiedClient.last_name}}
                                        </td>
                                        <td>
                                            {{verifiedClient.email}}
                                        </td>
                                        <td>
                                            {{verifiedClient.contact_number}}
                                        </td>
                                        <td>
                                            <ul *ngFor="let relation of verifiedClient.relations">
                                                {{relation.relationship}}
                                            </ul>
                                        </td>
                                        <td>
                                            <button mat-raised-button class="btn btn-warning btn-block" [routerLink] = "['/client', verifiedClient._id]">View Client</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0">Registered Clients</h4>
                        <p class="card-category"> Not Verified</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-primary">
                                    <th>
                                        NIC
                                    </th>
                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Contact Number
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let notVerifiedClient of NotVerifiedClient">
                                        <td>
                                            {{notVerifiedClient.nic}}
                                        </td>
                                        <td>
                                            {{notVerifiedClient.first_name}}
                                        </td>
                                        <td>
                                            {{notVerifiedClient.last_name}}
                                        </td>
                                        <td>
                                            {{notVerifiedClient.email}}
                                        </td>
                                        <td>
                                            {{notVerifiedClient.contact_number}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>