<div class="main-content">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]=13>
        <agm-marker
            [latitude]="lat" 
            [longitude]="lng"
            [iconUrl] = "pharmacyIcon"
            title="Pharmacy"
        ></agm-marker>
        <agm-marker *ngFor="let deliveryPerson of deliveryPersons.data"
            [latitude]="deliveryPerson.lat" 
            [longitude]="deliveryPerson.long"
            [iconUrl] = "driverIcon"
            [title] = "deliveryPerson.firstName"
        ></agm-marker>
    </agm-map>
</div>