<div class="admin-login">
    <!-- Default form login -->
    <form class="text-center border border-light p-5" (submit)="login($event)">

        <p class="h4 mb-4"><strong>Administrator Sign In</strong></p>

        <!-- Email -->
        <input type="text" name="username" id="username" class="form-control mb-4" placeholder="Username">

        <!-- Password -->
        <input type="password"  id="password" class="form-control mb-4" placeholder="Password">
        <br>
        <div class="container" *ngIf="active">
            <mat-spinner [diameter]="50"></mat-spinner>
          </div>
<br><br>
        <!-- Sign in button -->
        <button class="btn btn-danger btn-block my-4" type="submit" value="Submit">Sign In</button>

    </form>
    <!-- Default form login -->
    
    
  
</div>  