<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div (click)="changeView('pending')" class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">Yet to be reviewed</p>
            <h3 class="card-title">
              
              <small>Pending Orders</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a href="javascript:void(0)"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div (click)="changeView('reviewed')" class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">Customer needs to confirm</p>
            <h3 class="card-title"><small>Reviewed Orders</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i>
            </div>
          </div>
        </div>
      </div> 
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div (click)="changeView('paid')" class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category">Need to ready</p>
            <h3 class="card-title"><small>Paid Orders</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">local_offer</i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div (click)="changeView('completed')" class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-twitter"></i>
            </div>
            <p class="card-category">On the way</p>
            <h3 class="card-title"><small>Dispatched Orders</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="show">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">New Orders</h4>
            <p class="card-category">Yet to review</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table *ngIf="orders" class="table">
                <thead class="text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Address
                  </th>
                  <th>
                    Order date
                  </th>
                  <th>
                    
                  </th>
                </thead>

                <tbody *ngFor="let order of orders.data">
                  <tr>
                    <td>
                      {{order._id}}
                    </td>
                    <td>
                      {{order.name}}
                    </td>
                    <td>
                      {{order.email}}
                    </td>
                    <td>
                      {{order.delivery_address}}
                    </td>
                    <td class="text-primary">
                      {{order.ordered_at}}
                    </td>
                    <td class="text-primary">
                      <button mat-raised-button [routerLink] = "[urlStr, order._id]" class="btn btn-success pull-center">{{buttonStr}}</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
