<div class="main-content">
    <mat-tab-group>
        <mat-tab label="Client Details">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Client Profile</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>National Identity Card (NIC)</label>
                                            <p>My name is Khan</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>First Name</label>
                                            <p>My name is Khan</p>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Last Name</label>
                                            <p>My name is Khan</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Email</label>
                                            <p>My name is Khan</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Contact Number</label>
                                            <p>My name is Khan</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Address</label>
                                            <p>My name is Khan</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Registered Date</label>
                                            <p>My name is Khan</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Relations</label>
                                            <mat-accordion>
                                                <mat-expansion-panel>
                                                  <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                      Relationship
                                                    </mat-panel-title>
                                                  </mat-expansion-panel-header>
                                                  <div class="row">
                                                    <div class="col-md-12">
                                                        <label>National Identity Card (NIC)</label>
                                                        <p>My name is Khan</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>First Name</label>
                                                        <p>My name is Khan</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Last Name</label>
                                                        <p>My name is Khan</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>Date of Birth</label>
                                                        <p>My name is Khan</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>Contact Number</label>
                                                        <p>My name is Khan</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>Gender</label>
                                                        <p>My name is Khan</p>
                                                    </div>
                                                </div>
                                                </mat-expansion-panel>
                                              </mat-accordion>                                              
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                        <img class="img" src="./assets/img/faces/marc.jpg" />
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Alec Thompson</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
        </mat-tab>
        <mat-tab label="Order History">
            Order History
        </mat-tab>
    </mat-tab-group>      
</div>