<div class="main-content">
    <mat-tab-group>
        <mat-tab label="Client Details">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Client Profile</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>National Identity Card (NIC)</label>
                                            <p><strong>{{Client.data.nic}}</strong></p>
                                        </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>First Name</label>
                                                <p><strong>{{Client.data.first_name}}</strong></p>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Last Name</label>
                                                <p><strong>{{Client.data.last_name}}</strong></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Email</label>
                                                <p><strong>{{Client.data.email}}</strong></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Contact Number</label>
                                                <p><strong>{{Client.data.contact_number}}</strong></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Address</label>
                                                <p><strong>{{Client.data.address}}</strong></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Registered Date</label>
                                                <p><strong>{{Client.data.registered_at}}</strong></p>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="Client.data.relations">
                                            <div class="col-md-12" *ngIf="Client.data.relations.length > 0">
                                                <label>Relations</label>
                                                <mat-accordion>
                                                    <mat-expansion-panel *ngFor="let relation of Client.data.relations">
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                            {{relation.relationship}}
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label>National Identity Card (NIC)</label>
                                                                <p>{{relation.nic}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label>First Name</label>
                                                                <p>{{relation.first_name}}</p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Last Name</label>
                                                                <p>{{relation.last_name}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label>Date of Birth</label>
                                                                <p>{{relation.dob}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label>Gender</label>
                                                                <p>{{relation.gender}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label *ngIf="relation.contact_number">Contact Number</label>
                                                                <p>{{relation.contact_number}}</p>
                                                            </div>
                                                        </div>
                                                    </mat-expansion-panel>
                                                </mat-accordion>                                              
                                            </div>
                                        </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar" *ngIf="Client.data.avatar_url == ''">
                                    <img class="img" src="https://cdn2.iconfinder.com/data/icons/social-media-flat-line/70/user-512.png" />
                                </div>
                                <div class="card-avatar" *ngIf="Client.data.avatar_url">
                                        <img class="img" src={{Client.data.avatar_url}} />
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title"><strong>{{Client.data.first_name}} {{Client.data.last_name}}</strong></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
        </mat-tab>
        <mat-tab label="Order History">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title mt-0">{{Client.data.first_name}} {{Client.data.last_name}}</h4>
                                <p class="card-category">Order History</p>
                            </div>
                            <div class="card-body" *ngIf="Orders.data">
                                <div *ngIf="Orders.data.length == 0">
                                    <P>No Orders have been placed yet</P>
                                </div>
                                <div class="table-responsive" *ngIf="Orders.data.length > 0">
                                    <div class="input-group no-border">
                                        <input type="text" value="" class="form-control" placeholder="Search for Orders" [(ngModel)]="searchText">
                                    </div>
                                    <table class="table table-hover">
                                        <thead class="text-primary">
                                            <th>
                                                Order Placed Date
                                            </th>
                                            <th>
                                                Patient(Relationship)
                                            </th>
                                            <th>
                                                Delivery Address
                                            </th>
                                            <th>
                                                Order Status
                                            </th>
                                            <th>
                                                Order Completed Date
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let order of PendingOrders | filter:searchText">
                                                <td>
                                                    {{order.ordered_at}}
                                                </td>
                                                <td>
                                                    {{order.patient}}
                                                </td>
                                                <td>
                                                    {{order.delivery_address}}
                                                </td>
                                                <td>
                                                    <span class="badge badge-warning">{{order.status}}</span>
                                                </td>
                                                <td>
                                                    {{order.completed_on}}
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-success px-3" [routerLink] = "['/client/viewClientOrder', order._id]"><i class="material-icons">visibility</i></button>
                                                </td>
                                            </tr>
                                            <tr *ngFor="let order of CompletedOrders | filter:searchText">
                                                <td>
                                                    {{order.ordered_at}}
                                                </td>
                                                <td>
                                                    {{order.patient}}
                                                </td>
                                                <td>
                                                    {{order.delivery_address}}
                                                </td>
                                                <td>
                                                    <span class="badge badge-success">{{order.status}}</span>
                                                </td>
                                                <td>
                                                    {{order.completed_on}}
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-success px-3" [routerLink] = "['/client/viewClientOrder', order._id]"><i class="material-icons">visibility</i></button>
                                                </td>
                                                <!--<td>
                                                    <button type="button" class="btn btn-warning px-3" [routerLink] = "['/client/orderFeedback', order._id]"><i class="material-icons">feedback</i></button>
                                                </td>-->
                                            </tr>
                                            <tr *ngFor="let order of RejectedOrders | filter:searchText">
                                                <td>
                                                    {{order.ordered_at}}
                                                </td>
                                                <td>
                                                    {{order.patient}}
                                                </td>
                                                <td>
                                                    {{order.delivery_address}}
                                                </td>
                                                <td>
                                                    <span class="badge badge-danger">{{order.status}}</span>
                                                </td>
                                                <td>
                                                    {{order.completed_on}}
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-success px-3" [routerLink] = "['/client/viewClientOrder', order._id]"><i class="material-icons">visibility</i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>    
</div>